
<div class="blog-post">
  <h2 class="blog-post-title"><%= link_to blog.title.upcase, blog, class: 'blog-htitle text-new-h' %></h2>
  <p class="blog-post-meta">Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</p>

<%= render partial: 'blogs/admin_actions', locals: { blog: blog} %>

  <p>
    <%= markdown blog.body.first(750) %>
    <%= link_to "read more...", blog, class: 'blog-htitle' %>
  </p>
</div>